<div class="container">
    <div class="row">
        <h2>Derniers posts</h2>
        <ul class="list-group">
            <app-post-list [postList]="posts"></app-post-list>
        </ul>
    </div>
</div>
