<ul class="list-group">
    <li [ngClass]="{'list-group-item': true,
                    'list-group-item-success': likeIt > 0,
                    'list-group-item-danger': likeIt < 0}">

        <h4> {{ postTitle }} </h4>
        <p> {{ postDate | date: 'short' }} </p>
        <p> {{ postText }} </p>

        <button class="btn btn-success"
                (click)="clickLike()">Like it</button>

        <button class="btn btn-danger ml-2"
                (click)="clickDislike()">Dislike it</button>

    </li>
</ul>
