<ul>

    <app-post-list-item *ngFor="let item of postList"
                        [postTitle]="item.postTitle"
                        [postText]="item.postText"
                        [postDate]="item.postDate"></app-post-list-item>
</ul>
